useDynLib(simulatetimeseries, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("stats", "approx", "arima.sim", "deltat", "frequency",
               "is.ts", "lm", "rnorm", "rt", "runif", "start", "time",
               "ts", "tsp", "window")
importFrom("utils", "tail")
importFrom("tensorflow", "tf", "tuple")
importFrom("keras3", "layer_dense", "keras_model_sequential")
importFrom(keras3,layer_dense)
importFrom(keras3,keras_model_sequential)
importFrom(keras3,keras_model)
importFrom(keras3,layer_input)
importFrom(keras3,layer_lambda)
importFrom(keras3,metric_mean)
importFrom(keras3,optimizer_adam)
importFrom(keras3,loss_binary_crossentropy)
importFrom(keras3,fit)
importFrom(tensorflow,tf)
exportPattern("^[[:alpha:]]+")
